.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply selection styles globally */
::selection {
  background-color: #b88e2f; /* Background color when text is selected */
  color: white; /* Text color when selected */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
